.lottery-results-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .lottery-results-numbers {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 45%;
        width: 100%;
        z-index: 2;

        .justify-content {
            justify-content: space-around;
        }

        .numbers-container {
            flex: 0 0 16.66%;

            .number {
                background: #fff;
                font-size: 27px;
                border-radius: 50%;
                box-shadow: 5px 3px 33px -12px #000000;
                min-width: 82px;
                max-height: 82px;
                min-height: 82px;
                width: 75px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 510px) {
                    min-width: 60px;
                    max-height: 60px;
                    min-height: 60px;
                    width: 60px;
                    justify-content: center;
                    margin: 5px;
                }
            }
        }

        @media (max-width: 860px) {
            height: 100% !important;
            justify-content: center !important;
            position: absolute;
            top: -20px;
        }
    }
}
